body {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding-top: 250px;
	margin-left: 80px;
	font-family: 'Muli', sans-serif;
}
hr	{
	width: 670;
	margin-left: 0px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
p {
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;
	margin-left: 150px;
}
